.cookies{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #14146ecc;
    color: #ffffff;
    padding: 10px;
    padding-left: 2em;
    padding-right: 2em;
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    align-items:center;
    font-size: 13px;
    z-index: 1000;
}
.cookies span{
    max-width: 70%;
    text-align: center;
}
.cookies .accept{
    background-color: #70c5ff;;
    padding: 8px;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: 2em;
}
.cookies .accept:hover{
    background-color: #b6e2ff;
}
@media screen and (max-width: 700px) {
    .cookies{
        flex-direction: column;
        padding-left: 1em;
        padding-right: 1em;
    }

    .cookies span {
        max-width: 100%;
    }

    .cookies .accept{
        margin-left: 0px;
        margin-top: 10px;
    }
}